
<div class="container-fluid mt-5" style="background-image: url(assets/img14.jpg);">

    <div class="container mt-5 p-5">
        <div class="row">
  
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <h1 class="text-white mt-5" style="font-family: 'Times New Roman', Times, serif;">Loan.</h1>
                <p class="text-white mt-5" style="font-family: Arial, Helvetica, sans-serif;">Heaven fruitful doesn't over lesser days appear creeping seasons so behold bearing</p>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <h5 class="text-white mt-5 ms-4">Quick Links</h5>
                <ul id="one">
                    <li class="mt-4"><a href="">About</a></li>
                    <li class="mt-2"><a href="">Offers & Discounts</a></li>
                    <li class="mt-2"><a href="">Get Coupon</a></li>
                    <li class="mt-2"><a href="">Contact Us</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <h5 class="text-white mt-5 ms-4">New Products</h5>
                <ul>
                    <li class="mt-4"><a href="">Woman Cloth</a></li>
                    <li class="mt-2"><a href="">Fashion Accessories</a></li>
                    <li class="mt-2"><a href="">Man Accessories</a></li>
                    <li class="mt-2"><a href="">Rubber made Toys</a></li>
                </ul>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <h5 class="text-white mt-5 ms-4">Support</h5>
                <ul>
                    <li class="mt-4"><a href="">Frequently Asked Questions</a></li>
                    <li class="mt-2"><a href="">Terms & Conditions</a></li>
                    <li class="mt-2"><a href="">Privacy Policy</a></li>
                    <li class="mt-2"><a href="">Report a Payment Issue</a></li>
                </ul>
            </div>
  
        </div>
  
        <div class="row mt-5">
  
            <div class="col-lg-6 col-md-12 mt-4">
                <p class="text-white">Copyright ©2024 All rights reserved | This template is made with <i class="fa-solid fa-heart"></i> by Colorlib</p>
            </div>
            <div class="col-lg-6 col-md-12 mt-4 d-flex justify-content-center">
              <i class="fa-brands fa-x-twitter text-white"></i><i class="fa-brands fa-facebook text-white ms-3"></i> <i class="fa-solid fa-globe text-white ms-3"></i><i class="fa-brands fa-instagram text-white ms-3" ></i>
            </div>
  
        </div>
  
    </div>
  
  </div>
  
