
<div class="container mt-5">
    <h2>Branch Manager Phone Table</h2>
    
    <!-- Branch, Manager, Phone Table -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Branch</th>
          <th scope="col">Manager</th>
          <th scope="col">Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Thuraiur</td>
          <td>Subathra</td>
          <td>123-456-7890</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Manachanallur</td>
          <td>Nithya </td>
          <td>987-654-3210</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Vayalur</td>
            <td>Prasanna </td>
            <td>897-345-1234</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>Musiri</td>
            <td>Kathir </td>
            <td>876-345-0987</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>Ariyalur</td>
            <td>Buganesh </td>
            <td>123-765-0987</td>
          </tr>
          <tr>
            <th scope="row">6</th>
            <td>Manaparai</td>
            <td>Martina </td>
            <td>987-654-3210</td>
          </tr>
          <tr>
            <th scope="row">7</th>
            <td>Karur</td>
            <td>Jeevika </td>
            <td>675-234-3210</td>
          </tr>
          <tr>
            <th scope="row">8</th>
            <td>Trichy</td>
            <td>Jayanthi </td>
            <td>987-654-3210</td>
          </tr>
          <tr>
            <th scope="row">9</th>
            <td>K.K Nagar</td>
            <td>Lavanya </td>
            <td>987-654-3210</td>
          </tr>
          <tr>
            <th scope="row">10</th>
            <td>Tolgate</td>
            <td>bavithra </td>
            <td>987-654-3210</td>
          </tr>
         
        <!-- Add more rows as needed -->
      </tbody>
    </table>
  
  </div>
  
