<div class="container mt-5 p-5">
<p >ID : {{acOpen.id}}</p>
<p>PREFIX : {{acOpen.prefix}}</p>
<p>FIRSTNAME : {{acOpen.firstname}}</p>
<p>LASTNAME : {{acOpen.lastname}}</p>
<p>MONTH : {{acOpen.month}}</p>
<p>DAY : {{acOpen.day}}</p>
<p>YEAR : {{acOpen.year}}</p>
<p>FATHER's NAME : {{acOpen.mothersmaidenName}}</p>
<p>MOBILE : {{acOpen.telephoneNumber}}</p>
<p>EMAIL : {{acOpen.email}}</p>
<p>STREET : {{acOpen.streetAddress}}</p>
<p>STREET ADDRESS LINE2 : {{acOpen.streetAddressLine2}}</p>
<p>CITY : {{acOpen.city}}</p>
<p>STATE : {{acOpen.state}}</p>
<p>PINCODE : {{acOpen.pincode}}</p>
<p>COUNTRY : {{acOpen.country}}</p>
<p>EDUCATION LEVEL : {{acOpen.educationLevel}}</p>
<p>FORM OF IDENTIFICATION : {{acOpen.formofIdentification}}</p>
<p>IMAGE : <img src="{{acOpen.uploadId}}" alt=""></p>
<p>AC/TYPE : {{acOpen.accountType}}</p>
<P>AC/CATEGORY : {{acOpen.accountCategory}}</P>
<P>MONTHLY SALARY : {{acOpen.monthlySalary}}</P>
</div>

