<div>
    <nav class="navbar-nav bg-success-subtle d-flex justify-content-between">
        <div>
            <h1 style="font-family:'Abril Fatface' ;">Loan.</h1>
        
            <a href="/login"> Login<i class="fa-solid fa-user"></i></a>
        
        </div>
    </nav>

<div >
    <table  class="table table-success table-bordered" >
        <thead >
        <tr>
            <th>S.NO</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>FatherName</th>
            <th>Mothername</th>
            <th>DOB</th>
            <th>Gender</th>
            <th>BloodGroup</th>
            <th>DoorNo</th>
            <th>Street</th>
            <th>City</th>
            <th>Pincodde</th>
            <th>Email</th>
            <th>Contact</th>
            <th>Naminie</th>
            <th>EmergencyContact</th>
            <th>MaritalStatus</th>
            <th>Qualification</th>
            <th>Passedout</th>
            <th>Extraskils</th>
            <th>JobRoll</th>
            <th>experiencce</th>
            <th>signature</th>
            <th>submitdate</th>
            <th>image</th>
        </tr>
    </thead>
    <!-- <tbody>
        <tr *ngFor="let d of details, let x=index">
            <td>{{x+1}}</td>
            <td>{{d.name}}</td>
            <td>{{d.noofemployees}}</td>
            <td>{{d.location}}</td>
            <td>{{d.officetype}}</td>
            <td></td>
               
        </tr>
    </tbody>   -->
    </table>
    </div>
</div>

