<nav class="navbar navbar-expand-lg navbar-light " style="background-image: url('assets/hero2.jpg');">
    <div class="container-fluid">
        <div class="ms-5">
      <a class="navbar-brand ms-5" href="#"><h1 style="font-family:'Times New Roman', Times, serif;">Loan.</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-nav me-5">
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item me-5">
            <a class="nav-link active" aria-current="page" href="#"><b>Home</b></a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link active" aria-current="page" href="#"><b>About</b></a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link active" aria-current="page" href="#"><b>Services</b></a>
          </li>
          
          <li class="nav-item dropdown me-5">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <b> Blog</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
  
          <li class="nav-item me-5">
            <a class="nav-link active" aria-current="page" href="#"><b>Contact</b></a>
          </li>
  
          <li class="nav-item">
            <button type="button" class="btn btn-primary p-3"><i class="fa-solid fa-phone"></i> 6381099917</button>
          </li>
          
        </ul>
        
      </div>
    </div>
  </div>
  </nav>
<div class="container-fluid text-center">
  <div class="hero-section d-flex justify-content-center align-items-center">
      <h1 class="hero-text">Services</h1>
  </div>
</div>

<div class="text-center">
  <p style="color: dodgerblue; margin-top: 150px;" >Services that we are providing</p><br>
  <h2>High Performance Services</h2>
  <h2>For All Industries.</h2><br>
</div>


<div class="container mt-5 d-flex justify-content-around p-5">
  <div class="row mx-auto p-15">
      <div class="  col-md-3 bottom-border text-center ">
          <i class="fa-solid fa-suitcase"></i>
       <a href="#" routerLink="/service" style="text-decoration: none;"><h4 class="p-2">Business Loan</h4> </a> 
          <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
      </div>
      <div class="col-md-3 bottom-border text-center">
          <i class="fa-solid fa-business-time "></i>
          <h4 class="p-2">Commercial Loans</h4>
          <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
      </div>
      <div class="col-md-3 bottom-border text-center">
          <i class="fas fa-phone"></i>
          <h4 class="p-2">Construction Loans</h4>
          <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
      </div>
      <div class="col-md-3 bottom-border text-center">
          <i class="fa-solid fa-money-bill-wheat" ></i>
          <h4 class="p-2">Business Loan</h4>
          <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
      </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row mx-auto p-15">
      <div class="  col-md-3 bottom-border text-center ">
          <i class="fa-brands fa-shopify"></i>
          <h4 class="p-2">Business Loan</h4>
          <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
      </div>
      <div class="col-md-3 bottom-border text-center">
          <i class="fas fa-envelope "></i>
          <h4 class="p-2">Commercial Loans</h4>
          <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
      </div>
      <div class="col-md-3 bottom-border text-center">
          <i class="fa-solid fa-city"></i>
          <h4 class="p-2">Construction Loans</h4>
          <p>Consectetur adipisicing elit, sed<br> doeiusmod tempor incididunt <br>ut labore et dolore</p>
      </div>
      <div class="col-md-3 bottom-border text-center">
          <i class="fa-solid fa-landmark" ></i>
          <h4 class="p-2">Business Loan</h4>
          <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
          <div class="cat-cap"></div>
      </div>
  </div>
</div>

