<div class="container-fluid text-center">
  <div class="hero-section d-flex justify-content-center align-items-center">
      <h1 class="hero-text">Services</h1>
  </div>
</div>

<div class="text-center">
  <p style="color: dodgerblue; margin-top: 150px;" >Services that we are providing</p><br>
  <h2>High Performance Services</h2>
  <h2>For All Industries.</h2><br>
</div>


<div class="container mt-5 d-flex justify-content-around p-5">
  <div class="row mx-auto p-15">
      <div class="  col-md-3 bottom-border text-center ">
          <i class="fa-solid fa-suitcase"></i>
       <a href="#" routerLink="/service" style="text-decoration: none;"><h4 class="p-2">Business Loan</h4> </a> 
          <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
      </div>
      <div class="col-md-3 bottom-border text-center">
          <i class="fa-solid fa-business-time "></i>
          <h4 class="p-2">Commercial Loans</h4>
          <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
      </div>
      <div class="col-md-3 bottom-border text-center">
          <i class="fas fa-phone"></i>
          <h4 class="p-2">Construction Loans</h4>
          <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
      </div>
      <div class="col-md-3 bottom-border text-center">
          <i class="fa-solid fa-money-bill-wheat" ></i>
          <h4 class="p-2">Business Loan</h4>
          <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
      </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row mx-auto p-15">
      <div class="  col-md-3 bottom-border text-center ">
          <i class="fa-brands fa-shopify"></i>
          <h4 class="p-2">Business Loan</h4>
          <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
      </div>
      <div class="col-md-3 bottom-border text-center">
          <i class="fas fa-envelope "></i>
          <h4 class="p-2">Commercial Loans</h4>
          <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
      </div>
      <div class="col-md-3 bottom-border text-center">
          <i class="fa-solid fa-city"></i>
          <h4 class="p-2">Construction Loans</h4>
          <p>Consectetur adipisicing elit, sed<br> doeiusmod tempor incididunt <br>ut labore et dolore</p>
      </div>
      <div class="col-md-3 bottom-border text-center">
          <i class="fa-solid fa-landmark" ></i>
          <h4 class="p-2">Business Loan</h4>
          <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
          <div class="cat-cap"></div>
      </div>
  </div>
</div>

