


.hero-section {
    background-image: url('/assets/images service/hero2.jpg');
    height: 380px; /* Adjust the height as needed */
    width: 100%;
    background-size: cover;
    background-position: center center;
  }
  
  .hero-text {
    color: rgb(5, 1, 1);
  }
  i{
  color: dodgerblue;
  font-size: 50px;
  
  }
  .bottom-border {
      border-bottom: 2px solid rgb(251, 252, 253); 
      padding-bottom: 10px; 
      margin-bottom: 10px; 
      
    }
    .bottom-border:hover{
      border-color: rgb(43, 29, 243);
    }
  
    .content {
      position:absolute;
      display: block;
      top: 200px;
      left: 45%;
    }
    
    /* .services-area .single-cat::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0px;
      background: #c7ddf9;
      height: 3px;
      width: 100%;
  }
  *, ::after, ::before {
      box-sizing: border-box;
  }
    */
    
    a:hover{
    
    
      color: blue;
      border-bottom:solid blue;
  }
  a{
      text-decoration: none;
      /* color: white; */
  }
  li{
      list-style-type: none;
  }
  