
<app-navbar></app-navbar>
<div class="container-fluid text-center">
    <div class="hero-section d-flex justify-content-center align-items-center">
        <h1 class="hero-text" style="font-family: 'Times New Roman', Times, serif; font-weight: bold;" >Contact Us</h1>
    </div>
  </div>

  <div class="container mt-5 p-5">
    <div class="row">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248756.13131040215!2d80.04420115299784!3d13.04747331810865!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5265ea4f7d3361%3A0x6e61a70b6863d433!2sChennai%2C%20Tamil%20Nadu!5e0!3m2!1sen!2sin!4v1705572372564!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
<div class="container p-5">
  <div class="row">
    <div class="col-7">
      <h3>Get In Touch</h3>
      
      <div class="mb-3">
        <!-- <label for="exampleFormControlTextarea1" class="form-label">Enter Message</label> -->
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enter Message"></textarea>
      </div>
      <div class="mb-3">
        <!-- <label for="exampleFormControlInput1" class="form-label">Email address</label> -->

        <div class="row g-2">
          <div class="col-md">
            <div class="form-floating">
              <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="mdo@example.com">
              <label for="floatingInputGrid">Email address</label>
            </div>
          </div>
          <div class="col-md">
            <div class="form-floating">
              <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                <option selected>Open this select menu</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
              </select>
              <label for="floatingSelectGrid">Works with selects</label>
            </div>
          </div>
        </div><br><br>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      
      </div>
      <button type="button" class="btn btn-outline-primary">S E N D</button>

    </div>

   
  
 <div class="col-5 d-flex justify-content-end">
  <div class="row">
    <!--   <div class="col-1">
      <i class="fa-solid fa-house"></i>
    </div>
    <div class="col-4"></div>
      <p>Buttonwood, California.</p>
      <p>Rosemead, CA 91770</p>
    </div> -->
    <!-- <div class="col12 mt-3">
      <i class="fa-solid fa-mobile"></i>
      <p>+1 253 565 2365</p>
      <p>Mon to Fri 9am to 6pm</p>
    </div>
    <div class="col-12 mt-3">
      <i class="fa-solid fa-inbox"></i>
      <p>support@colorlib.com</p>
      <p>Rosemead, CA 91770</p>
    </div>
  </div> -->
  <ul class="list-group  " >
    
    <li class="list-group-item px-4 py-4" style="border: none;" > <i class="fa-solid fa-house h"></i>
      <p>Buttonwood,California</p>  
       <p>Rosemead, CA 91770</p>
      </li>
      
     <li class="list-group-item px-4 py-4" style="border: none;"><span>  <i class="fa-solid fa-mobile h" ></i></span>
        <p >+1 253 565 2365</p>
        <p>Mon to Fri 9am to 6pm</p></li>


        <li class="list-group-item px-4 py-4"style="border: none;" > <i class="fa-solid fa-inbox h"></i>
          <p>support@colorlib.com</p>
          <p>Rosemead, CA 91770</p>
        </li>
  </ul>
</div>
  </div>
  </div>
</div>

  <app-footer></app-footer>
