
<div class="container-fluid" style="background-color: rgb(242, 240, 240);">
<div class="container p-5" style="width: 50%; background-color: white;">
  <div class="row mt-5">
    <h1 class="d-flex justify-content-center mt-5" style="font-family: 'Times New Roman', Times, serif;">Account Opening Form</h1>
  </div>
  <div class="row mt-5">
    <h4 style="font-family: Arial, Helvetica, sans-serif;">Personnel Information</h4>
  </div>
<form class="mt-5" [formGroup]="acopening">
  <label for="">FullName *</label>
  <div class="row mt-2">
    <div class="col-md-4">
      
      <select id="inputPrefix" class="form-select" name="prefix" formControlName="prefix">
        <option value="Mr.">Mr.</option>
        <option value="Mrs.">Mrs.</option>
        <option value="Ms.">Ms.</option>
      </select>
      <label for="prefix" class="form-label ms-2 text-muted">Prefix</label>
    </div>
    <div class="col-md-4">
      
      <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="firstname" formControlName="firstname">
      <label for="firstname" class="form-label text-muted ms-2">FirstName</label>
    </div>
    <div class="col">
      
      <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="lastname" formControlName="lastname">
      <label for="lastname" class="form-label text-muted ms-2">LastName </label>
    </div>
  </div>
  
  <div class="row mt-5">

    <label for="">Date Of Birth*</label>
    <div class="col-md-4 mt-2">
      
      <select id="inputMonth" class="form-select" name="month" formControlName="month">
        <option value="" disabled selected>Select a month</option>
        <option value="January">January</option>
        <option value="Febraury">Febraury</option>
        <option value="March">March</option>
        <option value="April">April</option>
        <option value="May">May</option>
        <option value="June">June</option>
        <option value="July">July</option>
        <option value="August">August</option>
        <option value="September">September</option>
        <option value="October">October</option>
        <option value="November">November</option>
        <option value="December">December</option>
      </select>
      <label for="month" class="form-label ms-2 text-muted">Month</label>
    </div>
    <div class="col-md-4 mt-2">
      
      <select id="inputDay" class="form-select" name="day" formControlName="day">
        <option value="" disabled selected>Select a day</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        <option value="15">15</option>
        <option value="16">16</option>
        <option value="17">17</option>
        <option value="18">18</option>
        <option value="19">19</option>
        <option value="20">20</option>
        <option value="21">21</option>
        <option value="22">22</option>
        <option value="23">23</option>
        <option value="24">24</option>
        <option value="25">25</option>
        <option value="26">26</option>
        <option value="27">27</option>
        <option value="28">28</option>
        <option value="29">29</option>
        <option value="30">30</option>
        <option value="31">31</option>
      </select>
      <label for="day" class="form-label ms-2 text-muted">Day</label>
    </div>
    <div class="col-md-4 mt-2">
      
      <select id="inputState" class="form-select" name="year" formControlName="year">
        <option value="" disabled selected>Select a year</option>
        <option value="2024">2024</option>
        <option value="2023">2023</option>
        <option value="2022">2022</option>
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
        <option value="2018">2018</option>
        <option value="2017">2017</option>
        <option value="2016">2016</option>
        <option value="2015">2015</option>
        <option value="2014">2014</option>
        <option value="2013">2013</option>
        <option value="2012">2012</option>
        <option value="2011">2011</option>
        <option value="2010">2010</option>
        <option value="2009">2009</option>
        <option value="2008">2008</option>
        <option value="2007">2007</option>
        <option value="2006">2006</option>
        <option value="2005">2005</option>
        <option value="2004">2004</option>
        <option value="2003">2003</option>
        <option value="2002">2002</option>
        <option value="2001">2001</option>
        <option value="2000">2000</option>
        <option value="1999">1999</option>
        <option value="1998">1998</option>
        <option value="1997">1997</option>
        <option value="1996">1996</option>
        <option value="1995">1995</option>
        <option value="1994">1994</option>
        <option value="1993">1993</option>
        <option value="1992">1992</option>
        <option value="1991">1991</option>
        <option value="1990">1990</option>
      </select>
      <label for="inputState" class="form-label ms-2 text-muted">Year</label>
    </div>

  </div>
  <div class="row mt-5">
    <div class="col">
      <label for="inputEmail4" class="form-label">Father's Name *</label>
      <input type="text" class="form-control" placeholder="" aria-label="First name" name="mmname" formControlName="mothersmaidenName">
      
    </div>
    <div class="col">
      <label for="inputEmail4" class="form-label ms-2">Mobile Number *</label>
      <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="mobile" formControlName="telephoneNumber">
      
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <p class="ms-2">E-Mail</p>
      <input type="text" class="form-control" placeholder="Enter Email" aria-label="First name" name="email" formControlName="email">
      <label for="inputEmail4" class="form-label ms-2 text-muted">example@example.com</label>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <p class="ms-2">Address *</p>
      <input type="text" class="form-control" placeholder="" aria-label="First name" name="streetaddress" formControlName="streetAddress">
      <label for="inputEmail4" class="form-label ms-2 text-muted">StreetAdress</label>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      
      <input type="text" class="form-control" placeholder="" aria-label="First name" name="streetaddressline2" formControlName="streetAddressLine2">
      <label for="inputEmail4" class="form-label ms-2 text-muted">StreetAdress Line 2</label>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <input type="text" class="form-control" placeholder="" aria-label="First name" name="city" formControlName="city">
      <label for="inputEmail4" class="form-label ms-2 text-muted">City</label>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="" aria-label="First name" name="state" formControlName="state">
      <label for="inputEmail4" class="form-label ms-2 text-muted">State/Provice</label>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col">
      <input type="text" class="form-control" placeholder="" aria-label="First name" name="pincode" formControlName="pincode">
      <label for="inputEmail4" class="form-label ms-2 text-muted">PinCode</label>
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="" aria-label="First name" name="country" formControlName="country">
      <label for="inputEmail4" class="form-label ms-2 text-muted">Country</label>
    </div>

  </div>
  <div class="row mt-5 ">
    <div class="col">
      <p>Education Level</p>
      <div class="form-check">
        <input class="form-check-input" type="radio"  id="gridRadios1" value="HighSchool" name="educationLevel" formControlName="educationLevel">
        <label class="form-check-label" for="gridRadios1">
          High School Or Below
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio"  id="gridRadios1" value="UnderGraduate" name="educationLevel" formControlName="educationLevel">
        <label class="form-check-label" for="gridRadios1">
          UnderGraduate
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio"  id="gridRadios1" value="MasterDegree" name="educationLevel" formControlName="educationLevel" >
        <label class="form-check-label" for="gridRadios1">
          Master Degree
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" id="gridRadios1" value="phd" name="educationLevel" formControlName="educationLevel">
        <label class="form-check-label" for="gridRadios1">
          Phd
        </label>
      </div>
    </div>
    <div class="col">
      <p>Form Of Identification</p>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="National Identity Card" id="gridCheck1" name="formofIdentification" formControlName="formofIdentification">
        <label class="form-check-label" for="gridCheck1">
          National Identity Card
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="Driving Licence" id="gridCheck1" name="formofIdentification" formControlName="formofIdentification">
        <label class="form-check-label" for="gridCheck1">
          Driving Licence
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="Passport" id="gridCheck1" name="formofIdentification" formControlName="formofIdentification">
        <label class="form-check-label" for="gridCheck1">
          Passport
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" value="Student Id" id="gridCheck1" name="formofIdentification" formControlName="formofIdentification">
        <label class="form-check-label" for="gridCheck1">
          Student Id
        </label>
      </div>


    </div>
  </div>
  <div class="row mt-5">
    <p>Upload Form Of Identification</p>
    
      
      <input class="form-control" type="file" id="formFile" name="uploadId" (change)="onUpload($event)" required>
      <label for="formFile" class="form-label text-muted">Upload Image</label>
    

  </div>
  
  <div class="row mt-5">
    <h4 style="font-family: Arial, Helvetica, sans-serif;">Account Information</h4>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <label for="">AccountType *</label>
      <select id="inputState" class="form-select mt-3" name="accountType" formControlName="accountType">
      <option value="" disabled selected>Please Select</option>
      <option value="PriorityBanking">PriorityBanking</option>
      <option value="PreferredBanking">PreferredBanking</option>
      <option value="PrivateBanking">PrivateBanking</option>
      <option value="TimeDeposit">TimeDeposit</option>
      <option value="Others">Others</option>
     </select>
   </div>
   <div class="col-md-4">
    <label for="">AccountCategory *</label>
    <select id="inputState" class="form-select mt-3" name="accountCategory" formControlName="accountCategory">
    <option value="" disabled selected>Please Select</option>
    <option value="Individual">Individual</option>
    <option value="Joint">Joint</option>
   </select>
 </div>
 <div class="col-md-4">
  <label for="">Account Number</label>
  <input type="number" name="accountNumber" formControlName="accountNumber">

 </div>
 <div class="col-md-4">
  <label for="">Initial Balance</label>
  <input type="number" name="balance" formControlName="balance">

 </div>

  </div>
  <div class="row mt-3">
    <label for="">Monthly Salary *</label>
    <input type="text" class="form-control" placeholder="INR" aria-label="First name" name="monthlySalary" formControlName="monthlySalary">

  </div>
  <div class="mt-5 d-flex justify-content-center">
    <button type="button" class="btn btn-lg btn-success" (click)="posts()">Submit</button>
</div>
</form>
</div>
</div>