<!-- <div class="container-fluid " style="background-color:rgb(124, 124, 249); width: 3250px;">

   <nav class=" navbar-nav d-flex justify-content-around">
    <div>
    <h1 style="font-family: 'Abril Fatface';">Loan.</h1>
    <button class="btn btn-light" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling" style="color:black; width: 50px; height: 50px;"><i class="fa-solid fa-bars"></i></button>
    
</div>

    <div class="offcanvas offcanvas-start text-bg-light" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasScrollingLabel" style="font-family: 'Abril Fatface';">OFFICE USERS</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
       <ul class="list-group" >
        <li class="list-group-item px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 20px;"><i class="fa-solid fa-house " style="font-size: 33px;"></i>&nbsp;<a href="/home"class="link-underline link-underline-opacity-0 text-dark" >Home</a></li>
        <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 20px;"><i class="fa-solid fa-people-group "  style="font-size: 33px;"></i>&nbsp;<a href="/view/customer"class="link-underline link-underline-opacity-0 text-dark" >Customer Details</a></li>
        <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 20px;"><i class="fa-solid fa-money-check-dollar " style="font-size: 33px;">&nbsp;</i><a href="/view"class="link-underline link-underline-opacity-0 text-dark" >Loan Details</a></li>
        <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 20px;"><i class="fa-solid fa-clipboard-user " style="font-size: 35px;"></i>&nbsp;<a href="/view/staff"class="link-underline link-underline-opacity-0 text-dark" >Staff Details</a> </li>
        <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 20px;"><i class="fa-regular fa-address-card " style="font-size: 33px;"  ></i>&nbsp;<a href="/about"class="link-underline link-underline-opacity-0 text-dark" >About Us</a></li>
        <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 20px;"> <i class="fa-solid fa-phone " style="font-size: 33px;"></i>&nbsp;<a href="/contact"class="link-underline link-underline-opacity-0 text-dark" >Contact Us</a></li>
        <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 20px;"> <i class="fa-solid fa-handshake-angle " style="font-size: 33px;"></i>&nbsp;<a href="/service"class="link-underline link-underline-opacity-0 text-dark" >Service</a></li>
        <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 20px;"><i class="fa-solid fa-blog " style="font-size: 33px;"></i>&nbsp;<a href="/blog"class="link-underline link-underline-opacity-0 text-dark" >Blog</a></li>
        <button class="btn btn-dark" type="button" style="color:white; width: 370px; height: 50px; font-size: 22px;"><i class="fa-solid fa-user " style="font-size: 33px;"></i>&nbsp;Singin</button>
        
       </ul>
      </div>
    </div>

   </nav>
    <div class="px-5 py-5">
      <table class="table table-bordered border-dark" style="font-family: 'Abril Fatface';">
        <thead>
            <tr>
                <th>ID</th>
                <th>LOAN</th>
                <th>INCOME</th>
                <th>USEAGE</th>
                <th>FIRSTNAME</th>
                <th>MIDDLENAME</th>
                <th>LASTNAME</th>
                <th>DATE</th>
                <th>MONTH</th>
                <th>YEAR</th>
                <th>MARRITAL</th>
                <th>EMAIL</th>
                <th>PHONE</th>
                <th>STREET</th>
                <th>ADDRESS</th>
                <th>CITY</th>
                <th>STATE</th>
                <th>PIN</th>
                <th>LIVE</th>
                <th>FNAME</th>
                <th>LNAME</th>
                <th>OCCUPATION</th>
                <th>EXPERIENCE</th>
                <th> MONTHLYINCOME</th>
                <th>MONTHLYEXPENCE</th>
                <th>DOWNPAYMENT</th>
                <th>COMMENTS</th>
                <th>BANKNAME</th>
                <th>BRANCHNAME</th>
                <th>AC.NO</th>
                <th>IFSC</th>
                <th>AC.NAME</th>
                <th>MOBILE</th>
                <th>CONSENT</th>
                <th>DECLARATION</th>
                
            </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>

</div> -->




<div class="row mt-5 p-5">
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <i class="bi bi-person-hearts" style="text-align: center; font-size: 80px; color:rgb(99, 1, 99)"></i>
        <h5 class="card-title"> Customer Details</h5>
        <p class="card-text">Here Our Customer details are given </p>
        <a href="view/customer" class="btn btn-primary" >Go -></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <i class="bi bi-coin" style="text-align: center; font-size: 80px; color:rgb(99, 1, 99)" ></i>
        <h5 class="card-title">Loan Deatails</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go -></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <i class="bi bi-person-badge-fill" style="text-align: center; font-size: 80px; color:rgb(99, 1, 99)"></i>
        <h5 class="card-title">Staff Details</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go -></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <i class="bi bi-bezier" style="text-align: center; font-size: 80px; color:rgb(99, 1, 99)"></i>
        <h5 class="card-title">Branch Details</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go -></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <i class="bi bi-bank" style="text-align: center; font-size: 80px; color:rgb(99, 1, 99)"></i>
        <h5 class="card-title">Company Details</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go -></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <i class="bi bi-bar-chart-line-fill" style="text-align: center; font-size: 80px; color:rgb(99, 1, 99)"></i>
        <h5 class="card-title">Policy  Charts</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go -></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <i class="bi bi-body-text" style="text-align: center; font-size: 80px; color:rgb(99, 1, 99)" ></i>
        <h5 class="card-title">Customer Report</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go -></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <i class="bi bi-clipboard2-heart-fill" style="text-align: center; font-size: 80px; color:rgb(99, 1, 99)" ></i>
        <h5 class="card-title">Logs</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go -></a>
      </div>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <i class="bi bi-wifi" style="text-align: center; font-size: 80px; color:rgb(99, 1, 99)" ></i>
        <h5 class="card-title">Net Banking Mangement</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go -></a>
      </div>
    </div>
  </div>
  
</div>