.container {
    position: relative;
    
  }

.container .content {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(18, 18, 50, 0.9); /* Black background with 0.5 opacity */
    color: #f1f1f1;
    width: 1350px;
    height:400px;
    padding: 20px;
  }