<app-navbar></app-navbar>
<div class="container-fluid">

    <div style="background-image: url(assets/hero2.jpg); background-repeat: no-repeat; background-size: cover;" >
        <h1 style="font-family: 'Abril Fatface';font-size: 50px; text-align: center; padding-top:10%;padding-bottom: 20%;"> Blog Area</h1>
    </div>
    <div class="container">
    <div class="row my-5 mx-5">
    <div class="col-md-8">
      <div>
       
        <img src="/assets/single_blog_1.png.webp" class="card-img-top" alt="...">
        <article>
        <h1 style="font-family: 'Abril Fatface';font-size: 30px; width: 100px; height: 100px;" class="bg-primary px-3 py-3">15<br>Jan</h1>
      </article>
    
      </div>
        <div >
          <h5 style="font-family: 'Abril Fatface';font-size: 22px;"><a href="#" class="text-dark link-underline-light">Google inks pact for new 35-storey office</a></h5>
          <p class=" text-secondary text-start">That dominion stars lights dominion divide years for fourth have don't stars is that he earth it<br> first without heaven in place seed it second morning saying.</p>
         <button class="bg-light text-secondary" style="border: none;"><i class="fa-solid fa-user text-secondary " ></i> Travel,Lifestyle</button>|
         <button class="bg-light text-secondary" style="border: none;"><i class="fa-solid fa-comments text-secondary "></i> 03 comments</button>
    
        </div>
      </div>
    
    <div class="col-md-4 text-start">
    
      <div>
        
        <form class=" " role="search">
          <input  type="search" placeholder="Search Keyword" aria-label="Search" style="width: 300px;" class="ps-3">
          <button type="submit" class="bg-primary"><i class="fa fa-search text-light px-1 py-" a></i></button>
          <button type="button" class="btn btn-outline-primary btn-lg mt-3 ps-3" style="text-align: center; width: 340px;">Search</button>
    
        </form>
    
      </div>
      <div class="container my-5">
        <ul class="list-group" style="border: none;">
          <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 16px;" >Category</li>
          <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 16px;"><a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0">Resaurant food(37)</a></li>
          <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 16px;"><a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0">Travel news(10)</a></li>
          <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 16px;"><a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0">Modern technology(03)</a></li>
          <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 16px;"><a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0">Product(11)</a></li>
          <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 16px;"><a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0">Inspiration21</a></li>
          <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 16px;"><a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0">Health Care (21)09</a></li>
        </ul>
      </div>
    
    </div>
    </div>
    </div>
    
    <div class="container">
    <div class="row my-5 mx-5" >
      <div class="col-md-8">
        <div>
         
          <img src="assets/blog_2.png.webp" class="card-img-top" alt="...">
          <article>
          <h1 style="font-family: 'Abril Fatface';font-size: 30px; width: 100px; height: 100px;" class="bg-primary px-3 py-3">15<br>Jan</h1>
        </article>
      
        </div>
          <div >
            <h5 style="font-family: 'Abril Fatface';font-size: 22px;"><a href="#" class="text-dark link-underline-light">Google inks pact for new 35-storey office</a></h5>
            <p class=" text-secondary text-start">That dominion stars lights dominion divide years for fourth have don't stars is that he earth it<br> first without heaven in place seed it second morning saying.</p>
           <button class="bg-light text-secondary " style="border: none;"><i class="fa-solid fa-user text-secondary " ></i> Travel,Lifestyle</button>|
           <button class="bg-light text-secondary " style="border: none;"><i class="fa-solid fa-comments text-secondary "></i> 03 comments</button>
      
          </div>
        </div>
      
      <div class="col-md-4">
      
        <div class="container my-5">
          <ul class="list-group" style="border: none;">
            <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 16px;" >Recent Post</li>
        <li class="list-group-item  px-4 py-4  "  ><a href="#" class="ps-3 text-dark link-underline-light" style="font-family: 'Abril Fatface';"><img src="assets/post_1.png.webp" style="float: left; width: 75px;height: 75px;">
              From life was you fish...</a>
              <p class="ps-3 text-secondary" style="font-family: 'Abril Fatface'; font-size: 16px;">January 12, 2019</p></li>
              <li class="list-group-item  px-4 py-4  "  ><a href="#" class="ps-3 text-dark link-underline-light" style="font-family: 'Abril Fatface';"><img src="assets/post_2.png.webp" style="float: left; width: 75px;height: 75px;">
                The Amazing Hubble</a>
                <p class="ps-3 text-secondary" style="font-family: 'Abril Fatface'; font-size: 16px;">02 Hours ago</p></li>
    
                <li class="list-group-item  px-4 py-4  "  ><a href="#" class="ps-3 text-dark link-underline-light" style="font-family: 'Abril Fatface';"><img src="assets/post_3.png.webp" style="float: left; width: 75px;height: 75px;">
                  Astronomy Or Astrology</a>
                  <p class="ps-3 text-secondary" style="font-family: 'Abril Fatface'; font-size: 16px;">03 Hours ago</p></li>
                  <li class="list-group-item  px-4 py-4  "  ><a href="#" class="ps-3 text-dark link-underline-light" style="font-family: 'Abril Fatface';"><img src="assets/post_4.png.webp" style="float: left; width: 75px;height: 75px;">
                    Asteroids telescope</a>
                    <p class="ps-3 text-secondary" style="font-family: 'Abril Fatface';font-size: 16px;">01 Hours ago</p></li>        
          </ul>
        </div>
        
      
        </div>
    
      </div>
      </div>
      <div class="container">
        <div class="row my-5 mx-5" >
          <div class="col-md-8">
            <div>
             
              <img src="assets/single_blog_3.png.webp" class="card-img-top" alt="...">
              <article>
              <h1 style="font-family: 'Abril Fatface';font-size: 30px; width: 100px; height: 100px;" class="bg-primary px-3 py-3" >15<br>Jan</h1>
            </article>
          
            </div>
              <div >
                <h5 style="font-family: 'Abril Fatface';font-size: 22px;"><a href="#" class="text-dark link-underline-light">Google inks pact for new 35-storey office</a></h5>
                <p class=" text-secondary text-start">That dominion stars lights dominion divide years for fourth have don't stars is that he earth it<br> first without heaven in place seed it second morning saying.</p>
               <button class="bg-light text-secondary " style="border: none;"><i class="fa-solid fa-user text-secondary " ></i> Travel,Lifestyle</button>|
               <button class="bg-light text-secondary " style="border: none;"><i class="fa-solid fa-comments text-secondary "></i> 03 comments</button>
          
              </div>
            </div>
            <div class="col-md-4">
            <div class="container ">
              <ul class="list-group " style="border: none; margin-top: 100px;">
                <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 20px;" >Instagram Feeds</li>
                <li class="list-group-item  px-4 py-4  " >
                  <div class="row">
                    <div class="col-md-4 d-flex justify-content-between">
                      <button type="button" class="btn btn-outline-primary text-secondary" style=" border:none;padding-right: 15px; ">project</button>
                      <button type="button" class="btn btn-outline-primary text-secondary" style="border:none;padding-right: 15px; ">love</button>
                      <button type="button" class="btn btn-outline-primary text-secondary" style="border:none;">technology</button>
    
                    </div>
                  </div>
                  <div class="row mt-3" >
                    <div class="col-md-4 d-flex justify-content-between"> 
                      <button type="button" class="btn btn-outline-primary text-secondary" style="border:none;padding-right: 15px; ">travel</button>
                      <button type="button" class="btn btn-outline-primary text-secondary" style="border:none;padding-right: 15px; ">restaurant</button>
                      <button type="button" class="btn btn-outline-primary text-secondary" style="border:none;">lifestyle</button>
                    </div>
                  </div>
                  <div class="row mt-3" >
                    <div class="col-md-4 d-flex justify-content-between"> 
                      <button type="button" class="btn btn-outline-primary text-secondary" style="border:none;padding-right: 15px; ">design</button>
                      <button type="button" class="btn btn-outline-primary text-secondary" style="border:none;">illustration</button>
                     
                    </div>
                  </div>
                </li>
    
    
                
              </ul>
            </div>
           
              <ul class="list-group " style="border: none; margin-top: 100px;">
                <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 20px;" >Instagram Feeds</li>
                <li class="list-group-item  px-4 py-4  " >
                  <div class="row">
                    <div class="col-md-4 d-flex justify-content-between"> 
                      <img src="assets/post_5.png.webp " alt="img1" style="width: 100px; height: 100px; padding-right: 15px;">
                      <img src="assets/single_blog_1.png.webp " alt="img1"style="width: 100px; height: 100px; padding-right: 15px">
                      <img src="assets/post_7.png.webp " alt="img1"style="width: 100px; height: 100px;">
    
                    </div>
                  </div>
                  <div class="row mt-3" >
                    <div class="col-md-4 d-flex justify-content-between"> 
                      <img src="assets/post_8.png.webp " alt="img1" style="width: 100px; height: 100px; padding-right: 15px;">
                      <img src="assets/post_9.png.webp " alt="img1"style="width: 100px; height: 100px; padding-right: 15px">
                      <img src="assets/post_10.png.webp " alt="img1"style="width: 100px; height: 100px;">
    
                    </div>
                  </div>
                </li>   
              </ul>
            </div>
            </div>
          
          </div>
    
    
          <div class="container">
            <div class="row my-5 mx-5">
            <div class="col-md-8">
              <div>
               
                <img src="assets/single_blog_4.png.webp" class="card-img-top" alt="...">
                <article>
                <h1 style="font-family: 'Abril Fatface';font-size: 30px; width: 100px; height: 100px;" class="bg-primary px-3 py-3">15<br>Jan</h1>
              </article>
            
              </div>
                <div >
                  <h5 style="font-family: 'Abril Fatface';font-size: 22px;"><a href="#" class="text-dark link-underline-light">Google inks pact for new 35-storey office</a></h5>
                  <p class=" text-secondary text-start">That dominion stars lights dominion divide years for fourth have don't stars is that he earth it<br> first without heaven in place seed it second morning saying.</p>
                 <button class="bg-light text-secondary" style="border: none;"><i class="fa-solid fa-user text-secondary " ></i> Travel,Lifestyle</button>|
                 <button class="bg-light text-secondary" style="border: none;"><i class="fa-solid fa-comments text-secondary "></i> 03 comments</button>
            
                </div>
              </div>
            
            <div class="col-md-4 text-start">
             <div class="container ">
                <ul class="list-group" style="border: none;">
                  <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 20px;" >Newsletter</li>
                  <li class="list-group-item  px-4 py-4  " style="font-family: 'Abril Fatface';font-size: 16px;" >
                    <form class=" " role="search">
                      <input  type="search" placeholder="Enter Email" aria-label="Search" style="width: 300px; height: 50px;" class="ps-3">
                      <button type="button" class="btn btn-outline-primary btn-lg mt-3 ps-3" style="text-align: center; width: 300px; font-weight: lighter;">Subscribe</button>
                
    
                    </form></li>
    
                </ul>
              </div>
            
            </div>
            </div>
            </div>
    
    
            <div class="container">
              <div class="row my-5 mx-5">
              <div class="col-md-8">
                <div>
                 
                  <img src="assets/single_blog_5.png.webp" class="card-img-top" alt="...">
                  <article>
                  <h1 style="font-family: 'Abril Fatface';font-size: 30px; width: 100px; height: 100px;" class="bg-primary px-3 py-3">15<br>Jan</h1>
                </article>
              
                </div>
                  <div >
                    <h5 style="font-family: 'Abril Fatface';font-size: 22px;"><a href="#" class="text-dark link-underline-light">Google inks pact for new 35-storey office</a></h5>
                    <p class=" text-secondary text-start">That dominion stars lights dominion divide years for fourth have don't stars is that he earth it<br> first without heaven in place seed it second morning saying.</p>
                   <button class="bg-light text-secondary" style="border: none;"><i class="fa-solid fa-user text-secondary " ></i> Travel,Lifestyle</button>|
                   <button class="bg-light text-secondary" style="border: none;"><i class="fa-solid fa-comments text-secondary "></i> 03 comments</button>
              
                  </div>
                </div>
              
              <div class="col-md-4 ">
              
                
                </div>
               
              </div>
              </div>
              <div class="container-fluid">
                <div class="container">
                <img src="assets/worldmap.jpg" alt="Notebook" style="width: 1350px;;height: 400px;">
                <div class="content">
                  <div class=" row d-flex justify-content-around " style="margin-top: 70px; padding-left: 70px;padding-right: 70px;">
                    <div class="col-md-3">
                    
                      <h1 class="text-light" style="font-family: 'Abril Fatface';" >Loan.</h1>
                      <p class="text-secondary">Heaven fruitful doesn't over lesser <br>ays appear creeping seasons so<br> behold bearing</p>
                    </div>
                    
                    <div class="col-md-3">
                      <h6>Quick Link</h6>
                      <a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0" >About</a><br>
                      <a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0" >Offers & Discounts</a><br>
                      <a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0" >Get Coupon</a><br>
                      <a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0" >Contact Us</a>
                       </div>
                       <div class="col-md-3">
                        <h6>New Products</h6>
                        <a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0" >Woman Cloth</a><br>
                        <a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0" >Fashion Accessories</a><br>
                        <a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0" >Man Accessories</a><br>
                        <a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0" >Rubber made Toys</a>
                         </div>
                         <div class="col-md-3">
                          <h6>Support</h6>
                          <a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0" >Frequently Asked Questions</a><br>
                          <a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0" >Terms & Conditions</a><br>
                          <a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0" >Privacy Policy</a><br>
                          <a href="#" class="text-secondary link-offset-2 link-underline link-underline-opacity-0" >Report a Payment Issue</a>
                           </div>
    
                    </div>
                    <nav  class="navbar  d-flex justify-content-between" style="margin-top: 70px;padding-left: 70px;padding-right: 70px;">
                    <div class=" nav navbar">
    <p class="text-secondary">Copyright @2024 All rights reserved | This template is made with <i class="fa-solid fa-heart text-primary"></i> by Colorlib</p>
                    </div>
                    <div>
                      <i class="fa-brands fa-twitter text-secondary pe-2"></i>
                      <i class="fa-brands fa-facebook text-secondary  pe-2"></i>
                      <i class="fa-solid fa-globe text-secondary  pe-2"></i>
                      <i class="fa-brands fa-instagram text-secondary"></i>
                    </div>
                  </nav>
                  </div>
                </div>
              </div>
            
              </div>
    
    
      
    
    