<nav class="navbar navbar-expand-lg navbar-light " style="background-image: url('assets/hero2.jpg');">
    <div class="container-fluid">
        <div class="ms-5">
      <a class="navbar-brand ms-5" href="#"><h1 style="font-family:'Times New Roman', Times, serif;">Loan.</h1></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-nav me-5">
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item me-5">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/home"><b>Home</b></a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/about"><b>About</b></a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/service"><b>Services</b></a>
          </li>
          
          <li class="nav-item dropdown me-5">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <b> Blog</b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
  
          <li class="nav-item me-5">
            <a class="nav-link active" aria-current="page" href="#" routerLink="/contact"><b>Contact</b></a>
          </li>
  
          <li class="nav-item">
            <button type="button" class="btn btn-primary p-3"><i class="fa-solid fa-phone"></i> 6381099917</button>
          </li>
          
        </ul>
        
      </div>
    </div>
  </div>
  </nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center mt-3 ">
            <div >
                <p style="color: dodgerblue;">Achieve Your Financial Goal</p>
                <h1 id="para" style="font-size: 70px;">Small Business<br>Loans For Daily<br>Expenses</h1>
                <button id="btn" class="btn btn-dark" style="height:60px; width: 250px;" (click)="apply()">Apply Loan</button>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="/assets/men.jpeg" alt="">
        </div>
    </div>

</div>
<div class="container " style="background-color: dodgerblue;">
    <div class="row">
        
        <div class="col-md-3 justify-content-center mt-4">
            <img src="/assets/img1.jpeg" alt="">
        </div>
        <div class="col-md-3 icon-container" style="color: aliceblue;">
            <i class="bi bi-alarm icon" ></i>
            <p>Quick & Easy Loan Approvals</p>
        </div>
        <div class="col-md-3 icon-container" style="color: aliceblue;">
            <i class="bi bi-hand-thumbs-up icon"  ></i>
            <p>Quick & Easy Loan Approvals</p>
        </div>
        <div class="col-md-3 icon-container"  style="color: aliceblue;">
            <i class="bi bi-coin icon"></i>
            <p>Quick & Easy Loan Approvals</p>
        </div>
    </div>
</div>

