<app-navbar></app-navbar>
<div id="con" class="container-fluid">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center mt-3 ">
            <div >
                <p style="color: dodgerblue;">Achieve Your Financial Goal</p>
                <h1 id="para" style="font-size: 70px;">Small Business<br>Loans For Daily<br>Expenses</h1>
                <button id="btn" class="btn btn-dark" style="height:60px; width: 250px;" (click)="apply()">Apply Loan</button>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="/assets/men.jpeg" alt="">
        </div>
    </div>

</div>
<div class="container " style="background-color: dodgerblue;">
    <div class="row">
        
        <div class="col-md-3 justify-content-center mt-4">
            <img src="/assets/img1.jpeg" alt="">
        </div>
        <div class="col-md-3 icon-container" style="color: aliceblue;">
            <i class="bi bi-alarm icon" ></i>
            <p>Quick & Easy Loan Approvals</p>
        </div>
        <div class="col-md-3 icon-container" style="color: aliceblue;">
            <i class="bi bi-hand-thumbs-up icon"  ></i>
            <p>Quick & Easy Loan Approvals</p>
        </div>
        <div class="col-md-3 icon-container"  style="color: aliceblue;">
            <i class="bi bi-coin icon"></i>
            <p>Quick & Easy Loan Approvals</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-5 p-5">
        <div class="col-lg-6 col-md-12">
  
            <p class="text-primary" style="font-family: Arial, Helvetica, sans-serif;">About Our Company</p>
            <h1 style="font-family: 'Times New Roman', Times, serif;font-weight: bolder;">Building a Brighter financial Future & Good Support.</h1>
            <p class="mt-4" style="font-family: Arial, Helvetica, sans-serif;line-height: 1.5;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim distinctio sunt saepe, minus molestiae odit repellat. Ad iure unde dolor non voluptate, impedit maiores nisi velit omnis quisquam at? Odit earum soluta eveniet alias incidunt nihil, non similique dolores quibusdam itaque ipsam illum totam accusamus ullam quas nemo cumque magnam?</p>
            <p class="mt-4" style="font-family: Arial, Helvetica, sans-serif;line-height: 1.5;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum iure quis adipisci ipsum impedit iste molestiae ipsam quo consequuntur delectus?</p>
            <button type="button" class="btn  p-3 mt-4" style="background-color: rgb(3, 3, 54); color: white;"> APPLY FOR LOAN</button>
  
        </div>
  
  
        <div class="col-lg-6 col-md-12 d-flex justify-content-end mt-4">
  
            <img src="assets/about1.png.webp" alt="" class="img-fluid">
  
        </div>
  
    </div>
  
  </div>
  <div class="text-center">
    <p style="color: dodgerblue; margin-top: 150px;" >Services that we are providing</p><br>
    <h2>High Performance Services</h2>
    <h2>For All Industries.</h2><br>
  </div>
  <div class="container mt-5 d-flex justify-content-around p-5">
    <div class="row mx-auto p-15">
        <div class="  col-md-3 bottom-border text-center ">
            <i class="fa-solid fa-suitcase"></i>
         <a href="#" routerLink="/service" style="text-decoration: none;"><h4 class="p-2">Business Loan</h4> </a> 
            <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
        </div>
        <div class="col-md-3 bottom-border text-center">
            <i class="fa-solid fa-business-time "></i>
            <h4 class="p-2">Commercial Loans</h4>
            <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
        </div>
        <div class="col-md-3 bottom-border text-center">
            <i class="fas fa-phone"></i>
            <h4 class="p-2">Construction Loans</h4>
            <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
        </div>
        <div class="col-md-3 bottom-border text-center">
            <i class="fa-solid fa-money-bill-wheat" ></i>
            <h4 class="p-2">Business Loan</h4>
            <p>Consectetur adipisicing elit, sed doeiusmod tempor incididunt ut labore et dolore</p>
        </div>
    </div>
  </div>

<div class="container">
    <div class="row mt-5">
  
        <div class="col-lg-6 col-md-12">
  
            <img src="assets/single2.jpg.webp" alt="" class="img-fluid">
  
        </div>
  
        <div class="col-lg-6 col-md-12">
  
            <p class="text-primary mt-5"> Why Choose Our Company</p>
            <h1 style="font-family: 'Times New Roman', Times, serif; font-weight: bolder;" class="mt-4">We Promise Sustainable <br>Future For You.</h1>
            <p style="font-family: Arial, Helvetica, sans-serif;line-height: 2;" class="mt-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid error esse quos. Ipsa, excepturi! Quasi veniam quas eveniet, incidunt minus, quibusdam omnis qui quia non eos tenetur facere delectus ipsum quidem optio! Suscipit expedita hic repudiandae sed nostrum, a accusantium omnis reprehenderit deleniti qui, minus harum non molestiae pariatur ipsa.</p>
           <div class="mt-4">
            <input type="checkbox" ><span class="ms-2"> Lorem ipsum dolor sit amet.</span> <br>
            <input type="checkbox" class="mt-3"> <span class="ms-2"> Lorem ipsum dolor sit amet.</span> <br>
            <input type="checkbox" class="mt-3"><span class="ms-2"> Lorem ipsum dolor sit amet.</span> <br>
            <input type="checkbox" class="mt-3"><span class="ms-2"> Lorem ipsum dolor sit amet.</span><br>
            <input type="checkbox" class="mt-3"> <span class="ms-2"> Lorem ipsum dolor sit amet.</span> <br>
        </div>
        </div>
  
    </div>
  
  </div>
  
  
  <div class="container-fluid mt-5 p-5" style="background-image: url('assets/img6.jpg'); background-size: cover; background-repeat: no-repeat; ">
  
    <div class="container mt-5 p-5">
        <div class="row">
            <p class="d-flex justify-content-center text-white" style="font-family: Arial, Helvetica, sans-serif;">Apply in Three Easy Steps</p>
            <h1 class="d-flex justify-content-center mt-5 text-white" style="font-family: 'Times New Roman', Times, serif;">Easy Application Process For Any Types of Loan</h1>
            
            <div class="row mt-5">
  
                <div class="btn-group p-3 " role="group" aria-label="Button group with nested dropdown" style="background-color: white;">
                    
                  
                    <div class="btn-group text-white" role="group">
                      <button id="btnGroupDrop1" type="button" class="btn  dropdown-toggle " data-bs-toggle="dropdown" aria-expanded="false">
                        SELECT AMOUNT
                      </button>
                      <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                        <li><a class="dropdown-item" href="#">$ 120</a></li>
                        <li><a class="dropdown-item" href="#">$ 180</a></li>
                        <li><a class="dropdown-item" href="#">$ 220</a></li>
                        <li><a class="dropdown-item" href="#">$ 250</a></li>
                      </ul>
                    </div>
                    <div class="btn-group" role="group">
                        <button id="btnGroupDrop1" type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                          DURATION MONTH
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                          <li><a class="dropdown-item" href="#">7 Days</a></li>
                          <li><a class="dropdown-item" href="#">10 Days</a></li>
                          <li><a class="dropdown-item" href="#">14 Days</a></li>
                          <li><a class="dropdown-item" href="#">20 Days</a></li>
                        </ul>
                      </div>
                      <button type="button" class="btn ">RETURN AMOUNT</button>
                    <button type="button" class="btn btn-primary btn-sm ">APPLY FOR LOAN</button>
                  </div>
                  
  
            </div>
        </div>
  
    </div>
  
  </div>
  
  
  <div class="container mt-5">
  
    <div class="row">
        <p class="text-primary d-flex justify-content-center mt-4">Our Loan Section Team Mambers</p>
        <h1 style="font-family: 'Times New Roman', Times, serif;" class="d-flex justify-content-center mt-4">Take a look to our professional team members.</h1>
    </div>
    
  </div>
  
  
  <div class="container mt-5">
  
    <div class="row mt-5 p-4">
  
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <img src="assets/img7.png.webp" alt="" class="img-fluid">
            <div>
                <span>
                    <h3 style="font-family: 'Times New Roman', Times, serif;" class="mt-4 d-flex justify-content-center">Bruce Roberts</h3>
                    <h6 class="d-flex justify-content-center">Volunteer leader</h6>
  
                    
                </span>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <img src="assets/img8.png.webp" alt="" class="img-fluid">
            <div>
                <span>
                    <h3 style="font-family: 'Times New Roman', Times, serif;"class="mt-4 d-flex justify-content-center" >Bruce Roberts</h3>
                    <h6 class="d-flex justify-content-center">Volunteer leader</h6>
  
                    
                </span>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <img src="assets/img9.png.webp" alt="" class="img-fluid">
            <div>
                <span>
                    <h3 style="font-family: 'Times New Roman', Times, serif;" class=" mt-4 d-flex justify-content-center">Bruce Roberts</h3>
                    <h6 class="d-flex justify-content-center">Volunteer leader</h6>
  
                    
                </span>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
            <img src="assets/img10.png.webp" alt="" class="img-fluid">
            <div>
                <span>
                    <h3 style="font-family: 'Times New Roman', Times, serif;" class=" mt-4 d-flex justify-content-center">Bruce Roberts</h3>
                    <h6 class="d-flex justify-content-center">Volunteer leader</h6>
  
                    
                </span>
            </div>
        </div>
  
    </div>
  
    
  
    
  
  </div>
  
  
  <div class="container-fluid mt-5 p-5" style="background-color: rgb(6, 6, 75);">
  
    <div class="container">
  
        <div class="row mt-5">
            <i class="fa-solid fa-quote-right d-flex justify-content-center mt-5" style=" color: white;"></i>
            <h1 class="text-white mt-5 d-flex justify-content-center" style="font-family: 'Times New Roman', Times, serif;">Logisti Group is a reprentive logistics operator providing full range of ser of customs clearance and transportion world.</h1>
        </div>
  
        <div class="row mt-5">
  
            <div class="col-xl-12 col-lg-6 col-md-12 d-flex justify-content-center">
                <img src="assets/img11.png.webp" alt="" class="img-fluid">
                <div class="ms-3">
                  <span>
                    <p class="text-white " >Jessya Inn</p>
                    <p class="text-white">Co Founder</p>
                  </span>
                </div>
            </div>
            
  
        </div>
  
    </div>
  
  </div>
  
  
  <div class="container mt-5">
  
    <div class="row mt-4">
        <p class="text-primary mt-4 d-flex justify-content-center" style="font-family: Arial, Helvetica, sans-serif;">News form our latest blog</p>
        <h1 style="font-family: 'Times New Roman', Times, serif;" class="d-flex justify-content-center mt-2">News from around the world selected by us.</h1>
    </div>
  
    <div class="row mt-5">
  
        <div class="col-lg-6 col-md-12 mt-5">
            <img src="assets/img12.png.webp" alt="" class="img-fluid">
            <div>
            <span>               
                <p class="text-primary mt-4">JANUARY 28, 2020</p>
                <h4 class="mt-4" style="font-family: 'Times New Roman', Times, serif;">The advent of pesticides brought in its benefits and pitfalls</h4>
            </span>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 mt-5">
            <img src="assets/img13.png.webp" alt="" class="img-fluid">
            <div>
                <span>               
                    <p class="text-primary mt-4">JANUARY 28, 2020</p>
                    <h4 class="mt-4" style="font-family: 'Times New Roman', Times, serif;">The advent of pesticides brought in its benefits and pitfalls</h4>
                </span>
            </div>
        </div>
  
    </div>
  
    
  
  </div>
  
<app-footer></app-footer>

