<nav class="navbar navbar-expand-lg p-5 ">
    <a class="navbar-brand" href="#"><h1 style="font-family: 'Times New Roman', Times, serif;">Loan</h1></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav ml-auto" style="color: black; ">
            <li class="nav-item me-4">
                <a class="nav-link" href="#" style="color: black"> <b>Home </b></a>
            </li>
            <li class="nav-item me-4">
                <a class="nav-link" href="#" style="color: black"><b>About</b></a>
            </li>
            <li class="nav-item me-4">
                <a class="nav-link" href="#" style="color: black"><b>Service</b></a>
            </li>
            <li class="nav-item me-4">
                <a class="nav-link" href="#" style="color: black"><b>Blog</b></a>
            </li>
            <li  class="nav-item me-4">
                <a class="nav-link" href="#" style="color: black"><b>Contact</b></a>
            </li>
            <li class="nav-item">
                <button class="btn btn-outline-success my-2 my-sm-0">+ 9988776655</button>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 d-flex justify-content-center align-items-center mt-3 ">
            <div >
                <p style="color: dodgerblue;">Achieve Your Financial Goal</p>
                <h1 id="para" style="font-size: 70px;">Small Business<br>Loans For Daily<br>Expenses</h1>
                <button id="btn" class="btn btn-dark" style="height:60px; width: 250px;" (click)="apply()">Apply Loan</button>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center align-items-center">
            <img src="/assets/men.jpeg" alt="">
        </div>
    </div>

</div>
<div class="container " style="background-color: dodgerblue;">
    <div class="row">
        
        <div class="col-md-3 justify-content-center mt-4">
            <img src="/assets/img1.jpeg" alt="">
        </div>
        <div class="col-md-3 icon-container" style="color: aliceblue;">
            <i class="bi bi-alarm icon" ></i>
            <p>Quick & Easy Loan Approvals</p>
        </div>
        <div class="col-md-3 icon-container" style="color: aliceblue;">
            <i class="bi bi-hand-thumbs-up icon"  ></i>
            <p>Quick & Easy Loan Approvals</p>
        </div>
        <div class="col-md-3 icon-container"  style="color: aliceblue;">
            <i class="bi bi-coin icon"></i>
            <p>Quick & Easy Loan Approvals</p>
        </div>
    </div>
</div>

