 <h1 style="text-align: center; padding: 30px;">Loan application Form</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <label for=""> Desired Loan Amount</label>
            <input type="text" name="loan" id="">
        </div>
        <div class="col-md-6">
            <label for="">Annual Income</label>
            <input type="text" name="lastname" id="">
        </div>
        <label for="use">Loan Will Be Use For</label><br>
        <div class="col-md-6">
            
            <input type="radio" name="use" id="business" value="business">Business Launching<br>
            <input type="radio" name="use" id="home" value="home">Home Improvement<br>
            <input type="radio" name="use" id="education" value="education">Education<br>

        </div>
        <div class="col-md-6">
            
            <input type="radio" name="use" id="house" value="house">House Buying<br>
            <input type="radio" name="use" id="investment" value="investment">Investment<br>
            <input type="radio" name="use" id="others" value="others">Others<br><br>
        </div>
        <h4>Contact Information</h4>
        <label for="">Name</label>
        <div class="col-md-4">

            <input type="text" name="fname"><br>
            <label for="">FirstName</label>
        </div>
        <div class="col-md-4">

            <input type="text" name="mname"><br>
            <label for="">MiddleName</label>
        </div>
        <div class="col-md-4">

            <input type="text" name="lname"><br>
            <label for="">LastName</label>
        </div>
        
        <h4>Birth Date</h4>
        <div class="col-md-4">

            <select name="date" id="date">
                <option value="">Select the birth Date</option>
                <option value="">1</option>
                <option value="">2</option>
                <option value="">3</option>
                <option value="">4</option>
                <option value="">5</option>
                <option value="">6</option>
                <option value="">7</option>
                <option value="">8</option>
                <option value="">9</option>
                <option value="">10</option>
                <option value="">11</option>
                <option value="">12</option>
                <option value="">13</option>
                <option value="">14</option>
                <option value="">15</option>
                <option value="">16</option>
                <option value="">17</option>
                <option value="">18</option>
                <option value="">19</option>
                <option value="">20</option>
                <option value="">21</option>
                <option value="">22</option>
                <option value="">23</option>
                <option value="">24</option>
                <option value="">25</option>
                <option value="">26</option>
                <option value="">27</option>
                <option value="">28</option>
                <option value="">29</option>
                <option value="">30</option>
                <option value="">31</option>
            </select><br>
            <label for="date">Date</label>
        </div>
        <div class="col-md-4">

            <select name="month" id="month">
                <option value="">Select the month</option>
                <option value="">January</option>
                <option value="">February</option>
                <option value="">March</option>
                <option value="">April</option>
                <option value="">May</option>
                <option value="">June</option>
                <option value="">July</option>
                <option value="">August</option>
                <option value="">Septemper</option>
                <option value="">October</option>
                <option value="">November</option>
                <option value="">December</option>
            </select>
            <br>
            <label for="month">Month</label>
        </div>
        <div class="col-md-4">

            <select name="year" id="year">
                <option value="">Select the Year</option>
                <option value=""></option>
                <option value="">2006</option>
                <option value="">2005</option>
                <option value="">2004</option>
                <option value="">2003</option>
                <option value="">2002</option>
                <option value="">2001</option>
                <option value="">2000</option>
                <option value="">1999</option>
                <option value="">1998</option>
                <option value="">1997</option>
                <option value="">1996</option>
                <option value="">1995</option>
                <option value="">1994</option>
                <option value="">1993</option>
                <option value="">1992</option>
                <option value="">1991</option>
                <option value="">1990</option>
                <option value="">1989</option>
                <option value="">1988</option>
                <option value="">1987</option>
                <option value="">1986</option>
                <option value="">1985</option>
                <option value="">1984</option>
                <option value="">1983</option>
                <option value="">1982</option>
                <option value="">1981</option>
                <option value="">1980</option>
                <option value="">1979</option>
                <option value="">1978</option>
                <option value="">1977</option>
                <option value="">1976</option>
                <option value="">1975</option>
                <option value="">1974</option>
                <option value="">1973</option>
                <option value="">1972</option>
                <option value="">1971</option>
                <option value="">1970</option>
                <option value="">1969</option>
                <option value="">1968</option>
                <option value="">1967</option>
                <option value="">1966</option>
                <option value="">1965</option>
                <option value="">1964</option>
                <option value="">1963</option>
                <option value="">1962</option>
                <option value="">1961</option>
                <option value="">1960</option>
            </select>
            <br>
            <label for="year">Year</label>
        </div>
        <h4>Marrital status</h4>
        <div class="col-md-4">
            <input type="radio" name="marrital" id="married" value="married">Married<br>

        </div>
        <div class="col-md-4">
            <input type="radio" name="marrital" id="single" value="single">Single<br>
        </div>
        <div class="col-md-4">
            <input type="radio" name="marrital" id="others" value="others">Others<br>

        </div>
        <div class="col-md-6">
            <h4>Email</h4><br>
            <input type="email"><br>
            <label for="">example example.com</label>

        </div>
        <div class="col-md-6">
            <h4>Phone</h4><br>
            <input type="number"><br><br>

        </div>
        <h4>Address</h4>
        <div class="col-md-12">
            <input type="text" name="" id=""><br>
            <label>Street address </label>

        </div>
        <div class="col-md-12">
            <input type="text" name="" id=""><br>
            <label>Street address line2</label>
        </div>
        <div class="col-md-6">
            <input type="text" name="" id=""><br>
            <label>City</label>
        </div>
        <div class="col-md-6">
            <input type="text" name="" id=""><br>
            <label>State</label>
        </div>
        <div class="col-md-12">
            <input type="number" name="" id=""><br>
            <label>Postal zip Code</label>
        </div>
        <h3>How Long You lived in given address</h3>

        <div class="col-md-6">
            <input type="radio" name="live" id="0-1" value="0-1">0-1 Year<br>

        </div>
        <div class="col-md-6">
            <input type="radio" name="live" id="1-2" value="1-2">1-2 Year<br>
        </div>
        <div class="col-md-6">
            <input type="radio" name="live" id="3-4" value="3-4">3-4 Year<br>

        </div>
        <div class="col-md-6">
            <input type="radio" name="live" id="5" value="5">5 + Year<br>

        </div>
        <h2>Employement Information</h2>
        <label for="">Name</label>
        <div class="col-md-4">

            <input type="text" name="fname"><br>
            <label for="">FirstName</label>
        </div>
        <div class="col-md-4">

            <input type="text" name="lname"><br>
            <label for="">LastName</label>
        </div>
        <div class="col-md-4">

            <input type="text" name="occupation"><br>
            <label for="">Occupation</label>
        </div>
        <h3>Working Experience</h3>

        <div class="col-md-6">
            <input type="radio" name="live" id="0-1" value="0-1">0-1 Year<br>

        </div>
        <div class="col-md-6">
            <input type="radio" name="live" id="1-2" value="1-2">1-2 Year<br>
        </div>
        <div class="col-md-6">
            <input type="radio" name="live" id="3-4" value="3-4">3-4 Year<br>

        </div>
        <div class="col-md-6">
            <input type="radio" name="live" id="5" value="5">5 + Year<br>

        </div>

        <div class="col-md-6">
            <label for="">Monthly Income</label>
            <input type="text" name="income" id="">
        </div>
        <div class="col-md-6">
            <label for="">Monthly Expenses</label>
            <input type="text" name="income" id="">
        </div>
        <div class="col-md-6">
            <label for="">Down Payment</label>
            <input type="text" name="" id="">

        </div>
        <div class="col-md-6">


        </div>
        <div class="col-md-12">
            <label for="">Comments</label>
            <textarea name="comments" id="" cols="30" rows="10"></textarea>

        </div>
        <h3>Bank refrences</h3>
        <div class="col-md-4">
            <label for="">Bank name</label>
            <input type="text">

        </div>
        <div class="col-md-4">
            <label for="">Branch Name</label>
            <input type="text">

        </div>
        <div class="col-md-4">
            <label for="">Account Number</label>
            <input type="text">

        </div>
        <div class="col-md-4">
            <label for="">Ifsc Code</label>
            <input type="text">

        </div>
        <div class="col-md-4">
            <label for="">Account Holder name</label>
            <input type="text">

        </div>
        <div class="col-md-4">
            <label for="">Mobile Number</label>
            <input type="text">

        </div>
        <div class="col-md-12">
            <h2>consent</h2>
            <p> I authorize prospective Credit Grantors/Lending/Leasing Companies to obtain personal and credit
                information about me from my employer and credit bureau, or credit reporting agency, any person who has
                or may have any financial dealing with me, or from any references I have provided. This information, as
                well as that provided by me in the application, will be referred to in connection with this lease and
                any other relationships we may establish from time to time. Any personal and credit information obtained
                may be disclosed from time to time to other lenders, credit bureaus or other credit reporting agencies.
            </p>
            <input type="checkbox">Yes
        </div>
        <div class="col-md-12">
            <p>I hereby agree that the information given is true, accurate and complete as of the date of this application submission.
            </p>
            <input type="checkbox">Yes
        </div>
        <div class="col-md-12 btn btn-success">
            Send Application Now
        <div>

    </div>
</div>